@media screen and (min-width: 1001px){
  body {
    font-size: 32px;
  }
  #name{
    font-size: 64px;  
  }
}

@media screen and (max-width: 1000px){
  body {
    font-size: 48px;
  }
  #name{
    font-size: 56px;  
  }
}

body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  padding: 32px;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: yellow;
  margin-left: 10px;
}

#name {
  color: white;  
}

